################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/src/Net.Http.Rest/bin/Debug/netstandard2.0
/src/Net.Http.Rest/obj
/src/Net.Http.Rest/bin/Debug
/src/Net.Http.Rest/bin/Release
/src/.vs/RestClient/DesignTimeBuild
/src/Mafe.RestClient/bin
/src/Mafe.RestClient/obj
